.header-menu {
    position: absolute;
    top: 15px;
    left: 192px;
    width: 503px;
    height: 19px;
}
.header-menu a {
    position: absolute;
    height: 19px;
    top: 0;
    /*font-weight: 500;*/
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
}
.header-phone {
    position: absolute;
    width: 143px;
    height: 19px;
    left: 832px;
    top: 15px;
    /*font-weight: 500;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
}
.header-logo-text {
    position: absolute;
    /*width: 165px;*/
    width: 143px;
    /*font-size: 12px;*/
    height: 24px;
    left: 0;
    top: 45px;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;

    color: #E4E5EA90;
}
.header-logo {
    position: absolute;
    width: 140px;
    height: 24px;
    left: 0;
    top: 11px;
}