/*const*/
body {
    background: #0E1014;
    font-family: 'Inter';
    font-style: normal;
    color: #E4E5EA;
    margin: 0;
}
.gradient {
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-clip: text;
    text-fill-color: transparent;*/
}
p {
    position: absolute;
    margin: 0;
    cursor: default;
}
a {
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
.desktop {
    display: block;
}
.mobile {
    display: none;
}
/*main blocks*/
.app {
    position: relative;
    width: 1440px;
    height: 980px;
    margin: 0 auto auto;
}
.header {
    position: absolute;
    width: 1140px;
    height: 73px;
    left: 150px;
    top: 46px;
}
.footer {
    position: absolute;
    width: 1141px;
    height: 315px;
    left: 149px;
    bottom: 0;
}
.btn {
    position: absolute;
    width: 262px;
    height: 61px;
    left: 1028px;
    top: 535px;
    /*font-weight: 500;*/
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E4E5EA;
    background: #4077F3;
    border: none;
    cursor: pointer;
    font-family: 'Inter';
}
/*texts*/
.razvivaem {
    width: 275px;
    height: 44px;
    left: 148px;
    top: 413px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.welbex {
    width: 247px;
    height: 58px;
    left: 147px;
    top: 325px;
    font-weight: 900;
}
.zarabativayte {
    width: 362px;
    height: 116px;
    left: 147px;
    top: 209px;
    font-weight: 400;
}
.free {
    width: 291px;
    height: 44px;
    position: absolute;
    right: 0;
    font-size: 18px;
    line-height: 22px;

    font-weight: 300;
}
.free span {
    text-transform: uppercase;
    font-weight: 600;
}
.t1 {
    font-size: 48px;
    line-height: 58px;
}
.t2 {
    font-size: 18px;
    line-height: 22px;
}
.t3 {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    font-weight: 200;
    color: #E4E5EA;
    font-family: 'Montserrat';
}
/*column|line*/
.c2 {
    /*font-weight: 500;*/
    font-weight: 300;
    text-align: right;
    position: absolute;
    right: 150px;
    top: 224px
}
.c2-c1 {
    right: -1px;
}
.c2-c2 {
    right: 165px;
}
.c2-l1 {
    top: 84px
}
.c2-l2 {
    top: 112px
}
.c2-l3 {
    top: 182px
}
.c2-l4 {
    top: 210px
}
/*background balls*/
.purple-ball {
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}
.red-ball {
    border-radius: 50%;
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}
.red-ball2 {
    border-radius: 50%;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
    background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}
.purple-light {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;
    background: #833AB4;
    opacity: 0.5;
    filter: blur(196px);
}
.red-light {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;
    background: #961A1A;
    opacity: 0.5;
    filter: blur(196px);
}
.yellow-light {
    display: none;
    position: absolute;
    width: 200px;
    height: 200px;
    left: -66px;
    top: 574px;
    background: #FCB045;
    opacity: 0.4;
    filter: blur(196px);
}
.yellow-ball {
    display: none;
    border-radius: 50%;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 21px;
    top: 739px;
    background: radial-gradient(84.78% 84.78% at 0% 11.96%, rgba(255, 233, 203, 0.568) 0%, rgba(184, 131, 18, 0.448) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset -4px 4px 7px rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(2.5px);
    transform: matrix(0, 1, 1, 0, 0, 0);
}
/*mobile*/
.fix_header {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 55px;
    background: #06070b;
    justify-content: space-between;
    align-items: center;
    display: none;
}
.fix_header a {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    position: unset;
    margin: 0 auto;
}
.main_screen {
    display: none;
    position: absolute;
    top: 395px;
    left: 16px;
}
.main_screen-item {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /*letter-spacing: 0.05em;*/
    text-transform: uppercase;
    height: 16px;

    color: #e4e5ead6
}
.main_screen-item::before {
    content:url("./icons/Line.svg");
    position: absolute;
    width: 10px;
    height: 0;
    top: -5px;
    left: -15px;
    /*border: 1px solid;
    border-image-source: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);*/
}
@media (max-width: 500px) {
    html, body {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
    .desktop {
        display: none;
    }
    .app {
        width: 320px;
        margin: 0 auto;
    }
    .fix_header {
        display: flex;
    }
    .footer {
        left: 0;
        top: 500px;
        width: 100%;
        height: 615px;
        /*background: #0e1014;*/
        z-index: 2;
    }
    .mobile {
        display: block;
    }
    /*main screen*/
    .zarabativayte {
        left: 14px;
        top: 95px;
        width: 272px;
        height: 88px;
        position: relative;

        font-weight: 300;
    }
    .welbex {
        width: 186px;
        height: 44px;
        left: 15px;
        top: 183px;
    }
    .razvivaem {
        width: 271px;
        height: 44px;
        left: 14px;
        top: 242px
    }
    .t1 {
        font-size: 36px;
        line-height: 44px;
    }
    .t2 {
        display: none;
        font-size: 13px;
        line-height: 16px;
        /*letter-spacing: 0.05em;*/
    }
    .t3 {
        display: none;
    }
    .c2 {
        left: 15px;
        top: 331px;
        text-align: unset;
    }
    .free {
        width: 272px;
        left: 0;
    }
    .free span {
        text-transform: none;
    }
    .main_screen {
        display: block;
    }
    /*background balls*/
    .purple-light {
        left: 258px;
        top: 162px;
    }
    .red-light {
        width: 211px;
        height: 210px;
        left: -55px;
        top: 296px;
    }
    .yellow-light {
        display: block;
    }
    .yellow-ball {
        display: block;
    }
    .red-ball {
        width: 43px;
        height: 43px;
        left: 29px;
        top: 457px;
    }
    .purple-ball {
        width: 40px;
        height: 40px;
        left: 296px;
        top: 291px;
    }
    .red-ball2 {
        width: 18px;
        height: 18px;
        left: 278px;
        top: 618px;
    }
}